<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-primary">
            <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SISTEMA Vinicius</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/">Pagina Inicial</a>
                            <a class="nav-link" href="/pagina2">Pagina 2</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
<html>
<head>
    <title>Pagina 2</title>
</head>
<body>
    <h1>Página 2 da aplicação</h1>
    <p>Esta é a página 2 da aplicação.</p>
</body>
</html>
